.grid_all_books {
    display: grid;
    gap: 10px;
    grid-auto-rows: 40rem;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    margin-top: 50px;
    margin-right: 20px;  
    margin-left: 20px;
    text-decoration-line: none;
  }

  .grid-img{
    display: flex;
    height: 60%;
    width: 100%;
    padding: auto ;
    margin: auto;
    justify-content: center;
  }

  .img-book{
    margin-top: 30px;
    width: 12rem;
  }
  
  .grid-box {
    text-decoration-line: none;
    background-color: #dfdfdf5e;
    height: 80%;
    width: 100%;
    border-radius: 7px;
    transition: 0.7s;
  }
  .grid-box:hover{
    transform: scale(1.1);
    background-color: #dfdfdfe7;
  }
  
  .grid-text{
    text-decoration-line: none;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    justify-items: center;
    margin-bottom:100px;
    margin-top: 50px;
    color: black;
  }

  .grid-title{
    color: black;
    font-size: 1.5rem;  
    margin-top: 20px;
    margin-bottom: 3px;
    text-align: center;
    text-decoration-line: none;  }

  .grid-author{
    color: black;
    font-size: 18px;
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: center;
    text-decoration-line: none;
  }

  .grid-price{
    text-decoration-line: none;    
    color: black;
    font-size: 18px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: flex-end;
    text-align: center;
  }