.hamburguesa {
  margin-right: 30px;
  border: 5px solid purple;
}

.navbar {
  background-color: #ffffffec;
}
.navbar-form {
  display: flex;
  flex-direction: row;
  margin-right: 50px;
  margin-left: 10px;
  flex-wrap: nowrap;
}

.search-navbar {
  width: 100%;
  font-size: 15px;
  border-radius: 7px;
  height: 40px;
}
.search-btn {
  width: 70px;
  height: 42px;
  border-radius: 7px;
  margin: auto 20px auto auto;
  background-color: #ffffff;
  border: 1px solid #ced4da;
  transition: background-color 0.275s;
}
.search-btn:hover {
  background-color: rgba(247, 241, 241, 0.274);
}

@media screen and (max-width: 619px) {
  .navbar-form {
    margin: auto auto auto 15px;
    flex-direction: row;
  }
  .search-btn {
    width: 70px;
  }
  .search-navbar {
    width: 70% !important;
  }
}

@media screen and (min-width: 620px) and (max-width: 998px) {
  .search-btn {
    width: 14%;
  }
  .search-navbar {
    width: 76% !important;
  }
}

.genre-btn {
  font-family: 'Playfair Display SC', serif;
  font-style: italic;
  font-weight: 200;
  letter-spacing: 0.5px;
  /* margin-top: 20px;
    padding-bottom: 0px; */
  font-size: 21px;
  cursor: pointer;
  transition: transform 0.7s;
  margin-right: 50px;
}

.genre-btn:hover {
  color: #9a34e9;
  transform: scale(0.85);
  font-weight: 400;
}
form .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(145, 5, 35, 0.459);
}

/*Logo*/
.div-logo {
  margin-left: 0px;
}
@media screen and (max-width: 991px) {
  .div-logo {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
/*User Image adn Cart*/
.user-img {
  margin: auto auto auto 10px;
  padding: 7px 10px;
  border-style: solid;
  border-width: 2px;
  border-radius: 0 45% 0 45%;
  border-color: rgba(255, 255, 255, 0.795);
}
/*User Image adn Cart*/
.user-img {
  margin: auto auto auto 10px;
  padding: 7px 10px;
  border-style: solid;
  border-width: 2px;
  border-radius: 0 45% 0 45%;
  border-color: rgba(255, 255, 255, 0.795);
}

.user-buttons {
  cursor: pointer;
  transition: 1;
}
.dropdown-item {
  transition: all 0.325s !important;
}
.dropdown-item:hover {
  background-color: transparent !important;
  transform: scale(1.2);
}
.user-buttons:hover {
  background-color: white !important;
  color: rgb(34, 34, 34) !important;
}
