.App {
  text-align: center;
}

body {
  width: 100%;
  display: block;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.356),
      rgba(0, 0, 0, 0.863)
    ),
    url(https://d1csarkz8obe9u.cloudfront.net/posterpreviews/library-zoom-background-design-template-18c11f933ef10cc76543f2b560183b53_screen.jpg?ts=1588617711);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-container {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none !important;
  color: black;
  font-size: 17px;
  margin: 20px;
  transition: 0.2s;
}

.carrito {
  width: 30px;
  height: 30px;
}

/* LOGUITO DE REACT QUE DA VUELTAS:
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
*/
